body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;    
    justify-content: center;
}

div img {
    width: 300px;
    margin: 0 auto;
    padding-top: 250px;
    padding-bottom: 50px;
    
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;  
}

.search-field {
    display: inline-flex;
    width: 600px;
    height: 50px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(187, 186, 186);
    border-radius: 30px;
}  

.search-field .material-icons {
    padding: 10px;
}

#site-search {
    width: 85%;
    border: transparent;
}

.buttons-container {
    display: flex;
    align-items: center;    
    justify-content: center;
    margin: 30px;
}

.buttons-container button {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: transparent;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 10px;
}

.language-option p {
    font-size: 13px;
}

/* Menu settings */

nav ul {
    list-style-type: none;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;

}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(32, 32, 32);
    display: block;
    padding: 12px;
}

nav ul li .material-icons {
    color: grey;
    padding-top: 8px;
    margin-left: 5px;
    margin-right: 20px;
}

/* Footer Settings */

footer ul {
    list-style-type: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;

}

footer ul li {
    float: left;
    padding: 12px;

}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}